@import "./variables";
@import "./todolist.scss";
@import "./todoitems.scss";

body {
  background-color: #66CCFF;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  padding: 50px;
  position: relative;
}

// .App {}